<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/aside') %>
    <main>
      <h1>500 Error!</h1>
      <p>
        Something went wrong on the server side.
      </p>
    </main>
  </body>
</html>
